<!-- Button trigger modal -->
<button id="logoutUserButton" type="button" class="btn btn-primary">
  Logout
</button>

<script type="text/javascript">
  if (userCache.logged) {
    $("#logoutUserButton").show();
  } else {
    $("#logoutUserButton").hide();
  }

  $("#logoutUserButton").click(() => {
    alert('Not implemented')
  });
  // Check if user is logged and/or refresh token is available
  // Attach on click event
</script>
